*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
scratch

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
cov.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store

# mypy
.mypy_cache

# custom
playground

# paper
paper/paper.jats
paper/paper.pdf